<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <conversionRule conversionWord="wex" converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter" />
    <conversionRule conversionWord="wEx" converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter" />

    <property name="CONSOLE_LOG_PATTERN" value="${CONSOLE_LOG_PATTERN:-%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}}" />

    <!-- Appender 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- LOGNCRASH -->
    <appender name="LOGNCRASH" class="com.nhnacademy.logtest.log.LogAndCrashAppender">
        <appKey>nMWnKdBvAFvUW8XL</appKey>
        <platform>code-quest.search</platform>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- Async Appender -->
    <appender name="LNCS-APPENDER" class="ch.qos.logback.classic.AsyncAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <includeCallerData value="false" />
        <queueSize value="2048" />
        <neverBlock value="true" />
        <maxFlushTime value="60000" />
        <appender-ref ref="logNCrashHttp" />
    </appender>

    <!-- 환경별 설정 -->

    <!-- prod -->
    <springProfile name="prod">
        <root level="${PROD_LOG_LEVEL:-INFO}">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="LOGNCRASH" />
        </root>
    </springProfile>

    <!-- dev -->
    <springProfile name="dev">
        <root level="${DEV_LOG_LEVEL:-DEBUG}">
            <appender-ref ref="CONSOLE" />
        </root>
        <logger name="org.hibernate.type.descriptor.sql" additivity="false">
            <level value="DEBUG" />
            <appender-ref ref="CONSOLE" />
        </logger>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
